@tailwind base;
@tailwind components;
@tailwind utilities;

input.filled:not(:placeholder-shown) {
  color: #2563eb; /* Matches Tailwind's blue-600 */
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}