<div class="semestres-list">
  <h2>Semestres List</h2>

  <!-- Add New Semestre Form -->
  <form #semestreForm="ngForm" *ngIf="showForm" (ngSubmit)="onSubmit(semestreForm.value)" class="semestre-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput name="nom" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Panier IDs (comma-separated)</mat-label>
      <input matInput name="panierIds" ngModel [ngModel]="panierIdsString" (ngModelChange)="updatePanierIds($event)">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!semestreForm.valid">Add Semestre</button>
    <button mat-raised-button type="button" (click)="cancelForm()">Cancel</button>
  </form>

  <!-- Table Button -->
  <button mat-raised-button (click)="openForm()" style="margin-top: 10px;">Add New Semestre</button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.nom }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="getSemestre(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteSemestre(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>