
<div class="modal-overlay" *ngIf="showForm">
  <div class="modal-content">
    <form [formGroup]="panierForm" (ngSubmit)="onSubmit()" class="panier-form">
      <div class="form-header">
        <h3>{{ editMode ? 'Modifier Panier' : 'Ajouter un Nouveau Panier' }}</h3>
        <button mat-icon-button (click)="cancelForm()" class="close-button">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" required>
        <mat-error *ngIf="panierForm.get('nom')?.hasError('required')">
          Le nom est requis
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Coefficient Total</mat-label>
        <input matInput type="number" formControlName="coefficientTotal" required>
        <mat-error *ngIf="panierForm.get('coefficientTotal')?.hasError('required')">
          Le coefficient total est requis
        </mat-error>
        <mat-error *ngIf="panierForm.get('coefficientTotal')?.hasError('min')">
          Le coefficient total doit être supérieur à 0
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Semestre</mat-label>
        <mat-select formControlName="semestreId" required>
          <mat-option *ngFor="let semestre of allSemestres" [value]="semestre.id ">
            {{ semestre.nom }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="panierForm.get('semestreId')?.hasError('required')">
          Le semestre est requis
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Matières</mat-label>
        <mat-select formControlName="matiereIds" multiple required>
          <mat-option *ngFor="let matiere of allMatieres" [value]="matiere.id ">
            {{ matiere.nom }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="panierForm.get('matiereIds')?.hasError('required')">
          Au moins une matière est requise
        </mat-error>
      </mat-form-field>
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="panierForm.invalid || isSubmitting">
          {{ editMode ? 'Mettre à jour' : 'Ajouter' }}
        </button>
        <button mat-raised-button (click)="cancelForm()" [disabled]="isSubmitting">Annuler</button>
      </div>
    </form>
  </div>
</div>

<!-- List, filter, and add button displayed only when showAddFormOnly is false -->
<div class="paniers-list" *ngIf="!showAddFormOnly">
  <h2>Gestion des Paniers</h2>
  <div class="filter-container">
    <mat-form-field  class="filter-semestre">
      <mat-label>Filtrer par Semestre</mat-label>
      <mat-select [(ngModel)]="selectedSemestreId" (ngModelChange)="filterBySemestre($event)">
        <mat-option [value]="undefined">Tous les semestres</mat-option>
        <mat-option *ngFor="let semestre of allSemestres" [value]="semestre.id">
          {{ semestre.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button class="clear-filter-button" (click)="clearSemestreFilter()">Effacer le filtre</button>
  </div>
  <button mat-flat-button color="primary" (click)="openForm()" style="margin-top: 10px;">
    <mat-icon>add</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.nom }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="coefficientTotal">
      <mat-header-cell *matHeaderCellDef>Coefficient Total</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.coefficientTotal }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="semestre">
      <mat-header-cell *matHeaderCellDef>Semestre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ getSemestreNom(element.semestreId) }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="listeMatieres">
      <mat-header-cell *matHeaderCellDef>Liste des Matières</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ getListeMatieres(element.id) }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="editPanier(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePanier(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>